html,body,div,ul,ol,li,dl,dt,dd,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,pre,code,p,blockquote,hr,th,td {
	margin:0;
	padding:0;
}
body {
	text-align: left;
	font-family: proxima-nova, proxima-nova-1, proxima-nova-2, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;  /* 10px/16px */
	color: #000;
	background: #fff;
}
a {
	text-decoration: none;
}
a img,:link img,:visited img {
	border:none;
}
address {
	font-style:normal;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
hr {
	border:0;
	height:1px;
	background-color:#ccc;
	color:#ccc;
}
#header {
	position: relative;
	width: 960px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
#header h1 {
	background: image-url("logo.png") no-repeat;
	height: 63px;
	margin: 40px 0 0 0;
}
#header h1 span {
	text-align: left;
	font-size: 4.2em;
	display: none;
}
#header h2 {
	margin: 10px 0 20px 3px;
	text-align: left;
	font-size: 1.4em;
	color: #333;
}
#content {
	position: relative;
	width: 960px;
	margin: 30px auto;
}
#blogs {
	float: left;
	width: 710px;
	min-height: 10px;
	margin: 0 20px 0 0;
}
#tips {
	font-size: 1.4em;
	font-weight: bold;
	background-color: #f0d8b8;
	margin: 5px auto 15px auto;
	padding: 5px 3px;
}
#blog {
	text-align: left;
	border-bottom: 1px solid #ccc;
	margin: 0 0 3em 0;
  padding: 0 0 2em 0;
}
#blog h1 {
	font-size: 2.0em;
	margin: 0.5em auto;
	padding: 0 0.2em;
}
#blog h2 {
	font-size: 1.4em;
	font-weight: normal;
	background-color: #eee;
	margin: 0.5em auto;
	padding: 0.1em 0.3em;
}
#blog h3 {
	margin: 0.5em auto;
	font-size: 1.4em;
}
#blog h4 {
	margin: 0.5em auto;
	font-size: 1.2em;
}
#blog #text {
	font-size: 1.4em;
	line-height: 1.6;
	margin: 1em auto;
}
#blog #more {
	font-size: 1.4em;
	line-height: 1.6;
}
#blog img {
	margin: 0.5em 30px;
}
#blog p {
	margin: 0 0 0.6em 0;
}
#blog p code {
	font-size: 1.2em;
	font-weight: bold;
}
#blog pre {
	font-size: 1.2em;
	line-height: 1.3;
	margin: 0.5em 30px;
	padding: 0.5em 0.8em;
}
#blog pre.default {
	background-color: #eee;
}
#mobile_page {
  font-size: 2.8em;
	margin: 1em 1em;
}
#mobile_page #blog img {
  width: 90%;
}
#info {
	float: left;
	width: 200px;
	margin: 0 0 0 30px;
	color: #555;
}
#info #photo {
	width: 200px;
	margin: 20px auto 10px auto;
}
#info p {
	font-size: 1.2em;
	line-height: 2;
}
#info p.section {
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: 1px solid #ccc;
	margin: 1.5em auto 0.5em auto;
}
#info ul {
	font-size: 1.3em;
	line-height: 1.5;
	color: #333;
}

#tail {
	clear: both;
	text-align: center;
	font-size: 1.2em;
	color: #888;
	margin: 1em auto;
}
#mobile_page #tail #logo {
  height: 1.6em;
}

